@font-face {
    font-family: 'lmsans';
    src: url('lmsans10-bold-webfont.eot');
    src: url('lmsans10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-bold-webfont.woff') format('woff'),
         url('lmsans10-bold-webfont.ttf') format('truetype'),
         url('lmsans10-bold-webfont.svg#latin_modern_sans10_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'lmsans';
    src: url('lmsans10-boldoblique-webfont.eot');
    src: url('lmsans10-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-boldoblique-webfont.woff') format('woff'),
         url('lmsans10-boldoblique-webfont.ttf') format('truetype'),
         url('lmsans10-boldoblique-webfont.svg#latin_modern_sans10BdOb') format('svg');
    font-weight: bold;
    font-style: oblique;

}

@font-face {
    font-family: 'lmsans';
    src: url('lmsans10-oblique-webfont.eot');
    src: url('lmsans10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-oblique-webfont.woff') format('woff'),
         url('lmsans10-oblique-webfont.ttf') format('truetype'),
         url('lmsans10-oblique-webfont.svg#latin_modern_sans10_oblique') format('svg');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'lmsans';
    src: url('lmsans10-regular-webfont.eot');
    src: url('lmsans10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-regular-webfont.woff') format('woff'),
         url('lmsans10-regular-webfont.ttf') format('truetype'),
         url('lmsans10-regular-webfont.svg#latin_modern_sans10_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lmsans';
    src: url('lmsansdemicond10-oblique-webfont.eot');
    src: url('lmsansdemicond10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsansdemicond10-oblique-webfont.woff') format('woff'),
         url('lmsansdemicond10-oblique-webfont.ttf') format('truetype'),
         url('lmsansdemicond10-oblique-webfont.svg#latin_modern_sans_demi_co10Ob') format('svg');
    font-weight: normal;
    font-stretch: condensed;
    font-style: oblique;

}

@font-face {
    font-family: 'lmsans';
    src: url('lmsansdemicond10-regular-webfont.eot');
    src: url('lmsansdemicond10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsansdemicond10-regular-webfont.woff') format('woff'),
         url('lmsansdemicond10-regular-webfont.ttf') format('truetype'),
         url('lmsansdemicond10-regular-webfont.svg#latin_modern_sans_demi_co10Rg') format('svg');
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;

}

